.mediawithbenefits {
  &__item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__item {
    width: calc(~'25% - 1rem');
    margin: 1rem auto;
    background: none;
  }

  .no-touch &__item:hover &__item-image {
    .transform(scale(0.95));
  }

  &__item.is-selected &__item-image {
    .transform(scale(0.95));
  }

  &__item-image {
    .transition(all .2s ease);
  }
}

// THEME
// --------------------------------------------------
.mediawithbenefits {
  &__item-title {
    margin-top: @component-title-margin / 2;
    .item-title;
  }

  &__item-subtitle {
    margin-top: @component-body-margin / 2;
  }

  &__item-image {
    border: 3px solid @item-color;
  }

  .no-touch &__item:not(.is-selected):hover &__item-image {
    border-color: @item-color-hover;
  }

  &__item.is-visited &__item-image {
    border-color: @visited;
  }

  &__item.is-selected &__item-image {
    border-color: @item-color-selected;
  }
}
